/* Estilos generales para el HTML y BODY */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4; /* Fondo más opaco */
}

.content {
    flex: 1;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #001F39; /* Azul Oscuro */
}

.navbar .navbar-custom {
    color: #FFA726; /* Naranja */
}

.navbar .navbar-custom:hover {
    color: #FFE082; /* Amarillo */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

/* Estilos para las tarjetas de producto */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 350px; /* Altura mínima para las cards */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px;
}

.card-img-top {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: 200px; /* Ajusta la altura de la imagen dentro de la tarjeta */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse */
    object-position: center; /* Centra la imagen en el contenedor */
    border-bottom: 1px solid #ddd; /* Línea divisoria entre la imagen y el contenido */
}

.product-card {
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none; /* Elimina el borde de la product card */
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-img {
    width: 100%;
    height: 100%; /* Ajusta la altura según sea necesario */
    object-fit: contain; /* Asegura que la imagen no se recorte y se ajuste dentro del contenedor */
    object-position: center;
    border: none; /* Elimina el borde de la imagen */
}

/* Ajustes para el contenedor de la imagen */
.image-container {
    position: relative;
    width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
    height: 400px; /* Ajusta la altura del contenedor según sea necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asegura que la imagen no se recorte y se ajuste dentro del contenedor */
    object-position: center; /* Centra la imagen en el contenedor */
}

/* Estilos para el texto de los encabezados */
.text-custom {
    color: #FFA726; /* Naranja */
}

.section-title {
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 1.5rem; /* Espaciado inferior */
    color: #333; /* Color de texto */
    position: relative; /* Posicionamiento relativo para el pseudo-elemento */
}

.section-title::after {
    content: '';
    display: block;
    width: 60px; /* Ancho de la línea */
    height: 4px; /* Altura de la línea */
    background-color: #FFA726; /* Color de la línea */
    margin: 0.5rem auto 0; /* Centrar la línea y agregar espaciado */
    border-radius: 2px; /* Bordes redondeados */
}

/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
    .image-container {
        width: 90%; /* Ajusta el ancho del contenedor para pantallas más pequeñas */
        height: 200px; /* Ajusta la altura para pantallas más pequeñas */
    }

    .card-img-top {
        height: 150px; /* Ajusta la altura de las imágenes en pantallas más pequeñas */
        object-fit: contain; /* Mantiene la proporción sin cortar la imagen */
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 100%; /* Ajusta el ancho del contenedor para pantallas aún más pequeñas */
        height: 150px; /* Ajusta la altura para pantallas aún más pequeñas */
    }

    .card-img-top {
        height: 150px; /* Ajusta la altura de las imágenes en pantallas aún más pequeñas */
        object-fit: contain; /* Mantiene la proporción sin cortar la imagen */
    }
}

@media (max-width: 1080px) {
    .image-container {
        width: 100%; /* Ajusta el ancho del contenedor para pantallas aún más pequeñas */
        height: 200px; /* Ajusta la altura para pantallas aún más pequeñas */
    }

    .card-img-top {
        height: 200px; /* Ajusta la altura de las imágenes en pantallas aún más pequeñas */
        object-fit: contain; /* Mantiene la proporción sin cortar la imagen */
    }
}

.hidden {
    display: none !important;
}

#user-menu {
    display: flex;
    align-items: center;
}

#username-display {
    margin-right: 10px; /* Espacio entre el nombre de usuario y el botón de cerrar sesión */
}
