<header class="p-3 border-bottom bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/Home" class="nav-link px-2 link-light">Inicio</a></li>
                <li><a href="#newproductos" class="nav-link px-2 link-light">Nuevo productos</a></li>
                <li><a href="#productos" class="nav-link px-2 link-light">Productos</a></li>
                <li><a href="#footer" class="nav-link px-2 link-light">Nosotros</a></li>
            </ul>

            <button type="button" class="btn btn-outline-light me-2" routerLink='/Login' *ngIf="!loggedInUser" >Iniciar sesion</button>

            <div class="dropdown text-end" *ngIf="loggedInUser">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/img/icon2_32.png" alt="mdo" width="32" height="32" class="rounded-circle" *ngIf="loggedInUser.role === 'ROLE_USER'">
                    <img src="/img/icon32.png" alt="mdo" width="32" height="32" class="rounded-circle" *ngIf="loggedInUser.role === 'ROLE_ADMIN'">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" routerLink="/Profile">Perfil</a></li>
                    <li *ngIf="loggedInUser.role === 'ROLE_ADMIN'"><a class="dropdown-item" routerLink="/Admin">Administracion</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" (click)="logout()">Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>